body {
    background-color: #333;
    color: white;
    padding-left:175px;
}

h2, h3, h4, h5, h6 {
    color: #ccc;
}

h1 {
    font-size: 3em; 
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    color: #66f;
    }

a {
    color: #66f;
}

.sidebar {
    width: 125px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: 20px;
}

.sidebar-icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.sidebar-section {
    margin-top: 20px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    background-color: #333;
    color: white;
    position: relative; 
    padding-right: 75px;
}


#create-ticket-button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

#create-ticket-button:hover {
    background-color: #ccc;
    color: #333;
}

.username-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    z-index: 1;
}

.username-container img {
    width: 100%;
    height: auto;
}

.username-container:hover {
    background-color: rgb(160, 158, 158);
}

#user-popup {
    position: absolute;
    top: 75px;
    right: 15px;
    background-color: rgb(95, 95, 95);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

#user-popup p {
    margin: 0;
}

#ticket-selector {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
}

#search-bar {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
}

.ticket-rectangle {
    background-color: #666666;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #a3a3a3;
    box-sizing: border-box;
}
    
.ticket-rectangle div {
    padding: 5px;
}

.ticket-rectangle a {
    text-decoration: none;
    color: #cccccc;
    width: 100%;
    display: flex;
    align-items: center;
}

