{% load static %}
<!DOCTYPE html>
<html>
<head>
    <head>
        <title>Ticket Tackler</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" id="layout-style">
        <link rel="stylesheet" type="text/css" href="{% static 'css/listticket.css' %}" id="list-style">
        <script type="text/javascript" src="{% static 'js/username-popup.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    </head>    
</head>
<body>
    <div class="sidebar">
        <img src="{% static 'images/icon.png' %}" class="sidebar-icon">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    </div>
    
    <h1>Ticket Tackler</h1>
    
    <div id="header">
        <form>
            <select id="ticket-selector">
                <option value="open">Open Tickets</option>
                <option value="all">All Tickets</option>
            </select>
            <input type="text" id="search-bar" placeholder="Search Tickets">
            <input type="submit" value="Search">
        </form>
        <form method="GET" action="{% url 'create_ticket' %}">
            <input type="submit" value="Create new Ticket" id="create-ticket-button">
        </form>   
    </div>    

    <div class="username-container" id="username-container">
        <img src="{% static 'images/default_user.png' %}" alt="Default Account Image">
    </div>  


    <div id="user-popup" style="display: none;">
        <p>Name: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    </div>    

    <div class="ticket-container">
        <div class="ticket-header">
            <div class="ticket-id">ID</div>
            <div class="ticket-title">Ticket Title</div>
            <div class="ticket-assigned-users">Assigned Users</div>
            <div class="ticket-date"">Create Time</div>
            <div class="ticket-username">Creator</div>
            <div class="ticket-type">Type</div>
            <div class="ticket-status">Status</div>
            <div class="ticket-relevance">Relevance</div>
        </div>
        {% for ticket in tickets %}
            <div class="ticket-rectangle">
                {% if request.user in ticket.assigned_users.all or request.user == ticket.user or request.user.is_staff %}
                    <a href="{% url 'view_ticket' ticket.ticket_id %}">
                        <span class="ticket-id">{{ ticket.ticket_id }}</span>
                        <span class="ticket-title">{{ ticket.title }}</span>
                        <span class="ticket-assigned-users">
                            {% for user in ticket.assigned_users.all %}
                                {{ user.username }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                        <span class="ticket-date">{{ ticket.create_time|date:'d.m.Y' }}</span>
                        <span class="ticket-username">{{ ticket.user.username }}</span>
                        <span class="ticket-type">{{ ticket.type }}</span>
                        <span class="ticket-status" 
                              {% if ticket.status == "Open" %} style="background-color: rgb(33, 75, 139);"
                              {% elif ticket.status == "In progress" %} style="background-color: orange;"
                              {% elif ticket.status == "Closed" %} style="background-color: red;"
                              {% else %} style="background-color: green;"
                              {% endif %}>
                              {{ ticket.status }}
                        </span>
                        <span class="ticket-relevance">{{ ticket.relevance }}</span>
                    </a>
                {% else %}
                    <a>
                        <span class="ticket-id">{{ ticket.ticket_id }}</span>
                        <span class="ticket-title">{{ ticket.title }}</span>
                        <span class="ticket-assigned-users">
                            {% for user in ticket.assigned_users.all %}
                                {{ user.username }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                        <span class="ticket-date">{{ ticket.create_time|date:'d.m.Y' }}</span>
                        <span class="ticket-username">{{ ticket.user.username }}</span>
                        <span class="ticket-type">{{ ticket.type }}</span>
                        <span class="ticket-status" 
                            {% if ticket.status == "Open" %} style="background-color: rgb(33, 75, 139);"
                            {% elif ticket.status == "In progress" %} style="background-color: orange;"
                            {% elif ticket.status == "Closed" %} style="background-color: red;"
                            {% else %} style="background-color: green;"
                            {% endif %}>
                            {{ ticket.status }}
                        </span>
                        <span class="ticket-relevance">{{ ticket.relevance }}</span>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div> 
   
</body>
</html>