{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>View Ticket</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" id="layout-style">
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_ticket.css' %}" id="view_ticket-style">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <img src="{% static 'images/icon.png' %}" class="sidebar-icon">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    </div>
          
    <div class="username-container" id="username-container">
        <img src="{% static 'images/default_user.png' %}" alt="Default Account Image">
    </div>    

    <div id="user-popup" style="display: none;">
        <p>Name: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    </div>    

    <div id="ticket-container">
        <h1 id="ticket-title">{{ ticket.title }}</h1>
        <p id="ticket-content">{{ ticket.content }}</p>
        {% if user == ticket.user %}
        <form id="ticket-edit-form" method="post">
            {% csrf_token %}
            <input id="ticket-edit-title" type="text" name="title" value="{{ ticket.title }}">
            <textarea id="ticket-edit-content" name="content">{{ ticket.content }}</textarea>
            <input id="ticket-edit-submit" type="submit" value="Edit" name="edit">
        </form>
        <form id="ticket-close-form" method="post">
            {% csrf_token %}
            <input id="ticket-close-submit" type="submit" value="Close" name="close">
        </form>
        {% endif %}
    </div>
    
    <div id="ticket-replies-container">
        <h2>Replies:</h2>
        {% for reply in replies %}
            <div id="ticket-reply">
                <p id="ticket-reply-content">{{ reply.content }}</p>
            </div>
        {% endfor %}
        <form id="ticket-reply-form" method="post">
            {% csrf_token %}
            <textarea id="ticket-reply-textarea" name="content"></textarea>
            <input id="ticket-reply-submit" type="submit" value="Reply" name="Reply">
        </form>
    </div>

</body>
</html>    
