{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>View Ticket</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" id="layout-style">
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_ticket.css' %}" id="view_ticket-style">
    <script type="text/javascript" src="{% static 'js/username-popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/view_ticket_popups.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <img src="{% static 'images/icon.png' %}" class="sidebar-icon">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    </div>
          
    <div class="username-container" id="username-container">
        <img src="{% static 'images/default_user.png' %}" alt="Default Account Image">
    </div>    

    <div id="user-popup" style="display: none;">
        <p>Name: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    </div>    

    <div id="ticket-container">
        {% if user != ticket.user %}
            <h1 class="ticket-title">{{ ticket.title }}</h1>
            <span class="ticket-username">Creator: {{ ticket.user.username }}</span>
            <span class="ticket-date">Created at: {{ ticket.create_time|date:'d.m.Y' }}</span>
            <span class="ticket-assigned-users"> Assgined Users: 
                {% for user in ticket.assigned_users.all %}
                    {{ user.username }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
            <span class="ticket-type">Type: {{ ticket.type }}</span>
            <span class="ticket-relevance">Rel: {{ ticket.relevance }}</span>
            <span class="ticket-status" 
                    {% if ticket.status == "Open" %} style="background-color: rgb(33, 75, 139);"
                    {% elif ticket.status == "In progress" %} style="background-color: orange;"
                    {% elif ticket.status == "Resolved" % } style="background-color: green;"
                    {% elif ticket.status == "Closed" %} style="background-color: red;"
                    {% else %} style="background-color: purple;"
                    {% endif %}>
                    {{ ticket.status }}
            </span>
            {% if ticket.status != "Closed" %}
            <form id="status-submit-form" method="post" style="display: inline-block;">
                {% csrf_token %}
                <select class="form-control" id="id_change_status_select" name="change_status">
                    <option value="Open" {% if ticket.status == 'Open' %}selected{% endif %}>Open</option>
                    <option value="In progress" {% if ticket.status == 'In progress' %}selected{% endif %}>In Progress</option>
                    <option value="Resolved" {% if ticket.status == 'Resolved' %}selected{% endif %}>Resolved</option>
                </select>
                <input id="id_status_submit" type="submit" value="Change Status" name="status-submit">
            </form>
            {% endif %}
              
            <span class="ticket-content">{{ ticket.content }}</span>

        {% elif user == ticket.user %}
            <div id="ticket-display">
                <h1 class="ticket-title">{{ ticket.title }}</h1>
                <span class="ticket-username">Creator: {{ ticket.user.username }}</span>
                <span class="ticket-date">Created at: {{ ticket.create_time|date:'d.m.Y' }}</span>
                <span class="ticket-assigned-users"> Assgined Users: 
                    {% for user in ticket.assigned_users.all %}
                        {{ user.username }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
                <span class="ticket-type">Type: {{ ticket.type }}</span>
                <span class="ticket-relevance">Rel: {{ ticket.relevance }}</span>
                <span class="ticket-status" 
                    {% if ticket.status == "Open" %} style="background-color: rgb(33, 75, 139);"
                    {% elif ticket.status == "In progress" %} style="background-color: orange;"
                    {% elif ticket.status == "Resolved" % } style="background-color: green;"
                    {% elif ticket.status == "Closed" %} style="background-color: red;"
                    {% else %} style="background-color: purple;"
                    {% endif %}>
                    {{ ticket.status }}
                </span>
                <button id="ticket-edit-button" onclick="toggleEdit()">Edit</button>
                <form id="ticket-close-form" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <input id="ticket-close-submit" type="submit" value="Close" name="close">
                </form>
                
                <span class="ticket-content">{{ ticket.content }}</span>
            </div>
            <form id="ticket-edit-form" method="post",  style="display: none;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="ticket-title">Title:</label>
                    <input type="text" class="form-control" id="ticket-title-edit" name="ticket-title" value="{{ ticket.title }}">
                </div>
                <div class="form-group">
                    <label for="ticket-content-edit">Content:</label>
                    <textarea class="form-control" id="ticket-content" name="ticket-content" rows="3">{{ ticket.content }}</textarea>
                </div>
                <div class="form-group">
                    <label for="ticket-type">Type:</label>
                    <select class="form-control" id="ticket-type-edit" name="ticket-type">
                        <option value="bug" {% if ticket.type == 'bug' %}selected{% endif %}>Bug</option>
                        <option value="feature" {% if ticket.type == 'feature' %}selected{% endif %}>Feature</option>
                        <option value="issue" {% if ticket.type == 'issue' %}selected{% endif %}>Issue</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ticket-relevance">Relevance:</label>
                    <select class="form-control" id="ticket-relevance-edit" name="ticket-relevance">
                        <option value="low" {% if ticket.relevance == 'low' %}selected{% endif %}>Low</option>
                        <option value="medium" {% if ticket.relevance == 'medium' %}selected{% endif %}>Medium</option>
                        <option value="high" {% if ticket.relevance == 'high' %}selected{% endif %}>High</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ticket-assigned-users">Assigned Users:</label>
                    <select multiple class="form-control" id="ticket-assigned-users-edit" name="ticket-assigned-users">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" id="submit-save" value="Save" class="submit-save">
                <input type="button" id="submit-cancel" value="Cancel" class="submit-cancel" onclick="toggleEdit()">
            </form> 
        {% endif %}
    </div>
    
    <div id="ticket-comments-container">
        <h2>Comments:</h2>
        {% for comment in comments %}
            <div id="ticket-comment">
                <p id="ticket-comment-user">{{ comment.user }}</p>
                <p id="ticket-comment-create-time">{{ comment.create_time }}</p>
                <p id="ticket-comment-content">{{ comment.content }}</p>
            </div>
        {% endfor %}
        <form id="ticket-comment-form" method="post">
            {% csrf_token %}
            <textarea id="ticket-comment-textarea" name="content"></textarea>
            <input id="ticket-comment-submit" type="submit" value="Comment" name="Comment">
        </form>
    </div>

</body>
</html>    
